<a href="https://colab.research.google.com/github/enricsanz-dxc/sesdpw2g4/blob/main/SE_SDP_(Wave_2)_Group_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SE SDP Wave 2 . Group 4. Use Case

## Quantity prediction
### Time Series
You need to predict two metrics: ALLOCATION and CAPACITY (allocation = ordered quantity, capacity = consumed quantity)  
* An appropriate algorithm is the so called “Holt-Winters-Algorithm”  
* Use TYPE = 1 only, TYPE=2 is not relevant for this time series approach! “1” stands for “households”  
* All data are historical data reaching from 01 Jan 2017 – 02 June 2020. Data reaching from 03 June 2020 to 31 Dec 2020 are simply a guess taken by the NRG-4-U business department and must not be considered within your analysis
* As the business department is under high time pressure, they asked you to predict on the training set only (no test set required)
* Pls consider: if a station does not come with complete historical data it must be removed from the prediction process (this must be documented for the business department)
* Prediction period: 03 June 2020 - 31.12.2021
* Pls remember you need to predict 365 days for every station (guess you have 10 stations, then your result table will be containing 3650 records)

#### Read csv files
* Files has been stored on GITHUB to facilitate location from Notebook.
---
See files on: https://github.com/enricsanz-dxc/sesdpw2g4

In [2]:
import pandas as pd
import io

In [3]:
# Import  files from GITHUB
url_inputdata_timeseries = 'https://github.com/enricsanz-dxc/sesdpw2g4/blob/main/files/inputdata_timeseries.csv?raw=true'

df_it = pd.read_csv(url_inputdata_timeseries)

In [7]:
df_it.describe()

                TYPE   CALENDARYEAR    ALLOCATION      CAPACITY
count  130452.000000  130452.000000  1.304520e+05  1.304520e+05
mean        1.511905    2019.352222  8.212870e+05  1.412304e+06
std         0.499860       1.234395  2.750337e+06  3.574267e+06
min         1.000000    2017.000000  0.000000e+00  0.000000e+00
25%         1.000000    2018.000000  0.000000e+00  0.000000e+00
50%         2.000000    2019.000000  0.000000e+00  3.000000e+00
75%         2.000000    2020.000000  3.642300e+04  8.162220e+05
max         2.000000    2021.000000  2.682238e+07  2.939087e+07

## Prediction for the IT department

In [11]:
url_quantityPrediction_quantities = 'https://github.com/enricsanz-dxc/sesdpw2g4/blob/main/files/quantityPrediction_quantities.csv?raw=true'
url_quantityPrediction_stockPrices = 'https://github.com/enricsanz-dxc/sesdpw2g4/raw/main/files/quantityPrediction_stockPrices.csv?raw=true'
url_quantityPrediction_temperatures = 'https://github.com/enricsanz-dxc/sesdpw2g4/raw/main/files/quantityPrediction_temperatures.csv?raw=true'


df_qp_q = pd.read_csv(url_quantityPrediction_quantities)
df_qd_sp = pd.read_csv(url_quantityPrediction_stockPrices)
df_qs_t = pd.read_csv(url_quantityPrediction_temperatures)

           tempdate      temp_de  ...      temp_ru     temp_ukr
count  1.309000e+03  1309.000000  ...  1309.000000  1309.000000
mean   2.017969e+07    10.493965  ...    12.051872     9.837357
std    1.268308e+04     6.941726  ...     7.951452    10.149430
min    2.016010e+07   -13.500000  ...   -11.700000   -22.400000
25%    2.017082e+07     5.000000  ...     5.800000     2.200000
50%    2.018072e+07    10.400000  ...    12.100000    10.600000
75%    2.019061e+07    15.700000  ...    18.000000    18.300000
max    2.020050e+07    28.100000  ...    30.400000    29.100000

[8 rows x 7 columns]

In [ ]:
df_qd_sp.describe()

In [ ]:
df_qp_q.describe()

In [ ]:
df_qs_t.describe()